<include file="./Public/structure/header.html" />



<div class="product-model">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="__URL__/home/index">首页</a></li>
            <li class="active">{$flm.chname}</li>
        </ol>
        <h2>{$flm.chname}</h2>


        <div class="col-md-9 product-model-sec">
            <volist name="list" id="ez">
                <hr/><a href="__APP__/home/detail/info/no/{$ez.cph}"><p style="font-size: large">{$ez.cpm}</p><br/>
                <p>{$ez.xcya}</p></a><p style="color: #E97705">{$ez.fy}元</p>
            </volist>
            <div>
                {$page}
            </div>
        </div>


        <div class="rsidebar span_1_of_left">
            <section  class="sky-form">
                <div class="product_right">
                    <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>全部分类</h4>
                    <div class="tab1">
                        <ul class="place">
                            <li class="sort">文艺体美</li>
                            <li class="by"><img src="__ROOT__/Public/structure/images/do.png" alt=""></li>
                            <div class="clearfix"> </div>
                        </ul>
                        <div class="single-bottom">
                            <a href="__URL__/assort/type/AAA">吉他</a>
                            <a href="__URL__/assort/type/AAB">钢琴</a>
                            <a href="__URL__/assort/type/AAC">古筝</a>
                            <a href="__URL__/assort/type/AAD">声乐</a>
                            <a href="__URL__/assort/type/AAE">其他音乐课程</a>
                            <a href="__URL__/assort/type/ABA">绘画</a>
                           <a href="__URL__/assort/type/ABB">书法</a>
                            <a href="__URL__/assort/type/ABC">舞蹈</a>
                            <a href="__URL__/assort/type/ABD">摄影</a>
                            <a href="__URL__/assort/type/ABE">其他艺术培训</a>
                            <a href="__URL__/assort/type/ACA">游泳</a>
                           <a href="__URL__/assort/type/ACB">健身</a>
                            <a href="__URL__/assort/type/ACC">武术跆拳道</a>
                           <a href="__URL__/assort/type/ACD">瑜伽</a>
                            <a href="__URL__/assort/type/ACE">其他体育</a>

                        </div>
                    </div>
                    <div class="tab2">
                        <ul class="place">
                            <li class="sort">学习辅导</li>
                            <li class="by"><img src="__ROOT__/Public/structure/images/do.png" alt=""></li>
                            <div class="clearfix"> </div>
                        </ul>
                        <div class="single-bottom">

                            <a href="__URL__/assort/type/BAA">学前</a>
                            <a href="__URL__/assort/type/BAB">小学语数外</a>
                            <a href="__URL__/assort/type/BAC">小升初</a>
                            <a href="__URL__/assort/type/BAD">小学奥数</a>
                            <a href="__URL__/assort/type/BAE">其他小学课程</a>
                            <a href="__URL__/assort/type/BBA">初中</a>
                            <a href="__URL__/assort/type/BBB">中考</a>
                            <a href="__URL__/assort/type/BBC">高中</a>
                            <a href="__URL__/assort/type/BBD">高考</a>
                            <a href="__URL__/assort/type/BBE">艺考</a>
                            <a href="__URL__/assort/type/BCA">四六级</a>
                            <a href="__URL__/assort/type/BCB">专升本</a>
                            <a href="__URL__/assort/type/BCC">考研</a>
                            <a href="__URL__/assort/type/BCD">其他大学课程</a>
                            <a href="__URL__/assort/type/BDA">托福</a>
                            <a href="__URL__/assort/type/BDB">雅思</a>
                            <a href="__URL__/assort/type/BDC">SAT</a>
                            <a href="__URL__/assort/type/BDD">A LEVEL</a>
                            <a href="__URL__/assort/type/BDE">其他留学课程</a>

                        </div>
                    </div>
                    <div class="tab3">
                        <ul class="place">
                            <li class="sort">社会考试</li>
                            <li class="by"><img src="__ROOT__/Public/structure/images/do.png" alt=""></li>
                            <div class="clearfix"> </div>
                        </ul>
                        <div class="single-bottom">

                            <a href="__URL__/assort/type/CAA">会计类</a>
                            <a href="__URL__/assort/type/CAB">工程类</a>
                            <a href="__URL__/assort/type/CAC">医药类</a>
                            <a href="__URL__/assort/type/CAD">金融类</a>
                           <a href="__URL__/assort/type/CAE">其他资格考试</a>
                            <a href="__URL__/assort/type/CBA">公务员</a>
                            <a href="__URL__/assort/type/CBB">教师类</a>
                            <a href="__URL__/assort/type/CBC">学历类</a>
                            <a href="__URL__/assort/type/CBD">其他招录考试</a>
                            <a href="__URL__/assort/type/CCA">驾驶证</a>
                            <a href="__URL__/assort/type/CCB">其他考试</a>

                        </div>
                    </div>
                    <div class="tab4">
                        <ul class="place">
                            <li class="sort">技能培训</li>
                            <li class="by"><img src="__ROOT__/Public/structure/images/do.png" alt=""></li>
                            <div class="clearfix"> </div>
                        </ul>
                        <div class="single-bottom">

                            <a href="__URL__/assort/type/DAA">IT</a>
                            <a href="__URL__/assort/type/DAB">高级技工</a>
                            <a href="__URL__/assort/type/DAC">厨师</a>
                            <a href="__URL__/assort/type/DAD">美容师</a>
                            <a href="__URL__/assort/type/DAE">其他职业培训</a>
                            <a href="__URL__/assort/type/DBA">英语</a>
                            <a href="__URL__/assort/type/DBB">其他技能培训</a>


                        </div>
                    </div>


                    <!--script-->
                    <script>
                        $(document).ready(function(){
                            $(".tab1 .single-bottom").hide();
                            $(".tab2 .single-bottom").hide();
                            $(".tab3 .single-bottom").hide();
                            $(".tab4 .single-bottom").hide();

                            $(".tab1 ul").click(function(){
                                $(".tab1 .single-bottom").slideToggle(300);
                                $(".tab2 .single-bottom").hide();
                                $(".tab3 .single-bottom").hide();
                                $(".tab4 .single-bottom").hide();
                            })
                            $(".tab2 ul").click(function(){
                                $(".tab2 .single-bottom").slideToggle(300);
                                $(".tab1 .single-bottom").hide();
                                $(".tab3 .single-bottom").hide();
                                $(".tab4 .single-bottom").hide();
                            })
                            $(".tab3 ul").click(function(){
                                $(".tab3 .single-bottom").slideToggle(300);
                                $(".tab4 .single-bottom").hide();
                                $(".tab2 .single-bottom").hide();
                                $(".tab1 .single-bottom").hide();
                            })
                            $(".tab4 ul").click(function(){
                                $(".tab4 .single-bottom").slideToggle(300);
                                $(".tab3 .single-bottom").hide();
                                $(".tab2 .single-bottom").hide();
                                $(".tab1 .single-bottom").hide();
                            })
                        });
                    </script>
                    <!-- script -->
            </section>


        </div>



    </div>
</div>





<include file="./Public/structure/footer.html" />