<form method="post" action="__URL__/insert" enctype="multipart/form-data">
    课程编号：<input type="text" name="cph" maxlength="30"><br/>
    分类：<input type="text" name="fla" maxlength="30"><br/>
    课程名称：<input type="text" name="cpm" maxlength="250"><br/>
    宣传标题A：<input type="text" name="xcbta" maxlength="50"><br/>
    宣传语A：<input type="text" name="xcya" maxlength="120"><br/>
    宣传标题B：<input type="text" name="xcbtb" maxlength="50"><br/>
    宣传语B：<input type="text" name="xcyb" maxlength="120"><br/>
    宣传标题C：<input type="text" name="xcbtc" maxlength="50"><br/>
    宣传语C：<input type="text" name="xcyc" maxlength="120"><br/>
    详细介绍：<textarea name="cjs" maxlength="1998" rows="6" cols="45"></textarea><br/>
    费用：<input type="text" name="fy" maxlength="20"><br/>
    费用说明：<input type="text" name="fysm" maxlength="500"><br/>
    目标人群：<textarea name="mbrq" maxlength="1020" rows="6" cols="45"></textarea><br/>
    时间说明：<textarea name="sjsm" maxlength="1020" rows="6" cols="45"></textarea><br/>
    地点说明：<textarea name="ddsm" maxlength="1020" rows="6" cols="45"></textarea><br/>
    预定礼：<input type="text" name="ydl" maxlength="250"><br/>
    特点标题A：<input type="text" name="tdbta" maxlength="60"><br/>
    特点介绍A：<input type="text" name="tdjsa" maxlength="500"><br/>
    特点标题B：<input type="text" name="tdbtb" maxlength="60"><br/>
    特点介绍B：<input type="text" name="tdjsb" maxlength="500"><br/>
    事件年份A：<input type="text" name="nfa" maxlength="12"><br/>
    标志事件A：<input type="text" name="sja" maxlength="50"><br/>
    事件介绍A：<input type="text" name="sjjsa" maxlength="248"><br/>
    事件年份B：<input type="text" name="nfb" maxlength="12"><br/>
    年份B事件1：<input type="text" name="sjba" maxlength="50"><br/>
    年份B事件1介绍：<input type="text" name="sjjsba" maxlength="248"><br/>
    年份B事件2：<input type="text" name="sjbb" maxlength="50"><br/>
    年份B事件2介绍：<input type="text" name="sjjsbb" maxlength="248"><br/>
    配图文件为jpg格式，不超过100kb，命名为 课程编号+数字1-6，如XXX1.jpg，XXX2.jpg等。<br/>
    配图1：<input type="file" name="pta"><br/>
    配图2：<input type="file" name="ptb"><br/>
    配图3：<input type="file" name="ptc"><br/>
    配图4：<input type="file" name="ptd"><br/>
    配图5：<input type="file" name="pte"><br/>
    配图6：<input type="file" name="ptf"><br/>
    机构地址：<input type="text" name="jgdz" maxlength="120"><br/>
    联系电话：<input type="text" name="lxdh" maxlength="60"><br/>
    <br/><hr/>
    管理员密码：<input type="password" name="mm" maxlength="100"><br/>
    <input type="submit" value="确认添加课程">
</form>