<form method="post" action="__URL__/ass">
    页面顶端推荐课程1：<input type="text" name="bnra" value="{$cvc.bnra}" maxlength="40"><br/>
    页面顶端推荐课程2：<input type="text" name="bnrb" value="{$cvc.bnrb}" maxlength="40"><br/>
    页面顶端推荐课程3：<input type="text" name="bnrc" value="{$cvc.bnrc}" maxlength="40"><br/>
    热门分类1：<input type="text" name="fla" value="{$cvc.fla}" maxlength="40"><br/>
    热门分类2：<input type="text" name="flb" value="{$cvc.flb}" maxlength="40"><br/>
    热门分类3：<input type="text" name="flc" value="{$cvc.flc}" maxlength="40"><br/>
    热门分类4：<input type="text" name="fld" value="{$cvc.fld}" maxlength="40"><br/>
    热门分类5：<input type="text" name="fle" value="{$cvc.fle}" maxlength="40"><br/>
    热门分类6：<input type="text" name="flf" value="{$cvc.flf}" maxlength="40"><br/>
    热门分类7：<input type="text" name="flg" value="{$cvc.flg}" maxlength="40"><br/>
    热门分类8：<input type="text" name="flh" value="{$cvc.flh}" maxlength="40"><br/>
    推荐课程1：<input type="text" name="tja" value="{$cvc.tja}" maxlength="40"><br/>
    推荐课程2：<input type="text" name="tjb" value="{$cvc.tjb}" maxlength="40"><br/>
    推荐课程3：<input type="text" name="tjc" value="{$cvc.tjc}" maxlength="40"><br/>
    推荐课程4：<input type="text" name="tjd" value="{$cvc.tjd}" maxlength="40"><br/>
    <input type="hidden" name="id" value="1">
 <br/><hr/>
    管理员密码：<input type="password" name="mm" maxlength="70"><br/>
    <input type="submit" value="确认设置">
</form>